.App {
  text-align: center;
  background-color: white;
}

.App-header {
  background-color: #585e68;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: calc(20px + 2vmin);
  color: white;
  text-decoration: underline 2px white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.timeScore {
  font-size: 15px;
  text-shadow: 1px 1px 5px rgba(0,0,0,.2);
  color: #8eeee9;
}

.time, .score {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  border-radius: 5%;
}

.startBtn {
  border: none;
  margin-bottom: 50px;
  background: none;
}

.welcome, .displayGame  {
  max-width: 550px;
  margin: auto;
  padding: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
	background-image: linear-gradient(#3eb8b2, #8eeee9);
  display: inline-block;
	text-shadow: 1px 1px 5px rgba(0,0,0,.2);
	border-radius: 3px;
	border: 2px solid black;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,.3),
							0 4px 10px rgba(0,0,0,.5);
}

.welcomeText, .game-container {
  margin: auto;
  padding: 30px;
  background-color:rgba(201, 228, 236, 0.787);
  height: fit-content;
  padding:15px;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.3),
  0 4px 10px rgba(0,0,0,.5);
}

.question {
  font-size: 30px;
}

.input {
  width: 200px;
}

.submit {
  width: 200px;
}

